NEXT_PUBLIC_STYTCH_PUBLIC_TOKEN=<STYTCH_PUBLIC_TOKEN>
NEXT_PUBLIC_STYTCH_PROJECT_ID=<STYTCH_PROJECT_ID>
STYTCH_SECRET_KEY=<STYTCH_SECRET_KEY>
NEXT_PUBLIC_NEXT_URL=<NEXT_URL>
NEXT_PUBLIC_STRAPI_URL=<STRAPI_URL>
NEXT_PUBLIC_POKT_URL=<POKT_URL>